# Task 1: SQL

1. Run the cell below to load data from the [bank_failures.parquet](bank_failures.parquet) file into a DuckDBPyRelation and inspect the schema.
2. In the following cell, calculate the number of banks in the state of New York that have failed after 2010-01-01.  
The result only needs to show the number of banks.

Look up [DuckDb Python API](https://duckdb.org/docs/api/python/overview.html)

In [16]:
import duckdb

bank_failures_data = duckdb.read_parquet("bank_failures.parquet")
bank_failures_data

┌───────┬──────────────────────────────────────┬───────────────────┬───────────────┬────────────┬────────────────────────────────────────┬────────────────┐
│  c1   │                 Bank                 │       City        │     State     │    Date    │              Acquired by               │ Assets ($mil.) │
│ int64 │               varchar                │      varchar      │    varchar    │    date    │                varchar                 │     double     │
├───────┼──────────────────────────────────────┼───────────────────┼───────────────┼────────────┼────────────────────────────────────────┼────────────────┤
│     1 │ Douglass National Bank               │ Kansas City       │ Missouri      │ 2008-01-25 │ Liberty Bank and Trust                 │           58.5 │
│     2 │ Hume Bank                            │ Hume              │ Missouri      │ 2008-03-07 │ Security Bank                          │           18.7 │
│     3 │ Bear Stearns                         │ New York City     │ New York      │ 2008-03-16 │ J.P. Morgan Chase                      │       395000.0 │
│     4 │ ANB Financial N.A.                   │ Bentonville       │ Arkansas      │ 2008-05-09 │ Pulaski Bank and Trust Company         │         2100.0 │
│     5 │ First Integrity Bank, N.A.           │ Staples           │ Minnesota     │ 2008-05-30 │ First International Bank and Trust     │           54.7 │
│     6 │ IndyMac                              │ Pasadena          │ California    │ 2008-07-11 │ OneWest Bank, FSB                      │        32000.0 │
│     7 │ First National Bank of Nevada        │ Reno              │ Nevada        │ 2008-07-25 │ Mutual of Omaha Bank                   │         3400.0 │
│     8 │ First Heritage Bank, N.A.            │ Newport Beach     │ California    │ 2008-07-25 │ Mutual of Omaha Bank                   │          254.0 │
│     9 │ First Priority Bank                  │ Bradenton         │ Florida       │ 2008-08-01 │ SunTrust Banks                         │          259.0 │
│    10 │ The Columbian Bank and Trust Company │ Topeka            │ Kansas        │ 2008-08-22 │ Citizens Bank and Trust                │          752.0 │
│     · │                 ·                    │   ·               │   ·           │     ·      │       ·                                │            ·   │
│     · │                 ·                    │   ·               │   ·           │     ·      │       ·                                │            ·   │
│     · │                 ·                    │   ·               │   ·           │     ·      │       ·                                │            ·   │
│     2 │ First State Bank of Barboursville    │ Barboursville     │ West Virginia │ 2020-04-03 │ MVB Bank Inc.                          │          152.4 │
│     3 │ First City Bank of Florida           │ Fort Walton Beach │ Florida       │ 2020-10-16 │ United Fidelity Bank, fsb              │          134.7 │
│     4 │ Almena State Bank                    │ Almena            │ Kansas        │ 2020-10-23 │ Equity Bank                            │           70.0 │
│     1 │ Silvergate Bank                      │ San Diego         │ California    │ 2023-03-08 │ None (Wound down voluntarily)          │        16000.0 │
│     2 │ Silicon Valley Bank                  │ Santa Clara       │ California    │ 2023-03-10 │ First Citizens BancShares              │       209000.0 │
│     3 │ Signature Bank                       │ New York City     │ New York      │ 2023-03-12 │ Flagstar Bank                          │       118445.0 │
│     4 │ First Republic Bank                  │ San Francisco     │ California    │ 2023-05-01 │ JPMorgan Chase                         │       229000.0 │
│     5 │ Heartland Tri-State Bank             │ Elkhart           │ Kansas        │ 2023-07-28 │ Dream First Bank, National Association │          139.0 │
│     6 │ Citizens Bank                        │ Sac City          │ Iowa          │ 2023-11-03 │ Iowa Trust & Savings Bank              │           66.0 │
│     1 │ Republic First Bancorp               │ Philadelphia      │ Pennsylvania  │ 2024-04-26 │ Fulton Bank                            │         6000.0 │
├───────┴──────────────────────────────────────┴───────────────────┴───────────────┴────────────┴────────────────────────────────────────┴────────────────┤
│ 544 rows (20 shown)                                                                                                                           7 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
duckdb.sql("""
Write your code here!
""")

┌───────────┐
│ num_banks │
│   int64   │
├───────────┤
│         4 │
└───────────┘

# Task 2: SQL

2. In the following cell, calculate the ordinal number of each bank failure per State based on the chronological order of failure.  
The result should show the Bank, city, State and the order in which it failed compared to its peers.  
Sort the results according to the State, Bank and Date.
 Hint: Window functions

In [22]:
duckdb.sql("""
SELECT 
    Bank,
    City,
    State,
    Date,
    RANK() OVER (PARTITION BY State ORDER BY Date) AS 'Order of failure'
FROM bank_failures_data
ORDER BY
    State, Bank, Date
""")

┌────────────────────────────────────────────────────────┬─────────────┬───────────┬────────────┬──────────────────┐
│                          Bank                          │    City     │   State   │    Date    │ Order of failure │
│                        varchar                         │   varchar   │  varchar  │    date    │      int64       │
├────────────────────────────────────────────────────────┼─────────────┼───────────┼────────────┼──────────────────┤
│ Alabama Trust Bank, N.A.                               │ Sylacauga   │ Alabama   │ 2012-05-18 │                7 │
│ CapitalSouth Bank                                      │ Birmingham  │ Alabama   │ 2009-08-21 │                2 │
│ Colonial Bank                                          │ Montgomery  │ Alabama   │ 2009-08-14 │                1 │
│ First Lowndes Bank                                     │ Luverne     │ Alabama   │ 2010-03-19 │                4 │
│ New South Federal Savings Bank                         │ Irondale    │ Alabama   │ 2009-12-18 │                3 │
│ Nexity Bank                                            │ Birmingham  │ Alabama   │ 2011-04-15 │                5 │
│ Superior Bank                                          │ Birmingham  │ Alabama   │ 2011-04-15 │                5 │
│ Bank USA, N.A.                                         │ Phoenix     │ Arizona   │ 2009-10-30 │                4 │
│ Central Arizona Bank                                   │ Scottsdale  │ Arizona   │ 2013-05-14 │               14 │
│ Community Bank of Arizona                              │ Phoenix     │ Arizona   │ 2009-08-14 │                1 │
│        ·                                               │   ·         │    ·      │     ·      │                · │
│        ·                                               │   ·         │    ·      │     ·      │                · │
│        ·                                               │   ·         │    ·      │     ·      │                · │
│ Bank of Elmwood                                        │ Racine      │ Wisconsin │ 2009-10-23 │                1 │
│ Bank of Wausau                                         │ Wausau      │ Wisconsin │ 2013-08-09 │                8 │
│ Banks of Wisconsin                                     │ Kenosha     │ Wisconsin │ 2013-05-31 │                7 │
│ Evergreen State Bank                                   │ Stoughton   │ Wisconsin │ 2011-01-28 │                4 │
│ First Banking Center                                   │ Burlington  │ Wisconsin │ 2010-11-19 │                3 │
│ Guaranty Bank (d/b/a BestBank in Georgia and Michigan) │ Milwaukee   │ Wisconsin │ 2017-05-05 │               10 │
│ Legacy Bank                                            │ Milwaukee   │ Wisconsin │ 2011-03-11 │                6 │
│ Maritime Savings Bank                                  │ West Allis  │ Wisconsin │ 2010-09-17 │                2 │
│ North Milwaukee State Bank                             │ Milwaukee   │ Wisconsin │ 2016-03-11 │                9 │
│ Bank of Wyoming                                        │ Thermopolis │ Wyoming   │ 2009-07-10 │                1 │
├────────────────────────────────────────────────────────┴─────────────┴───────────┴────────────┴──────────────────┤
│ 544 rows (20 shown)                                                                                    5 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

# Task 3: Python (Polars or Pandas)

1. do x
2. do y
3. do z

In [ ]:
import polars as pl
import pandas as pd

pl.read_parquet("path")
pd.read_parquet("path")

# Task 4: Python (Polars or Pandas)

1. do x
2. do y
3. do z